* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
}

.container {
  width: 100%;
  height: auto;
}

.topline {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}
.topline .logo a {
  font-family: "Great Vibes", cursive;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
.topline .logo a:hover {
  font-size: 1.7rem;
  color: gray;
}
.topline .searchbar input {
  border: none;
  margin-right: 0;
  text-align: right;
  padding: 0.625rem;
  font-weight: bold;
  font-size: 1rem;
}
.topline .searchbar button {
  border: none;
  background-color: white;
  font-size: 1rem;
}

.topnav {
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  padding: 1rem;
}
.topnav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
.topnav ul .navlist a {
  text-decoration: none;
  color: black;
  font-size: medium;
  font-weight: bold;
}
.topnav ul .navlist a:hover {
  font-size: large;
  color: gray;
}

.image-grid {
  padding: 3rem 10rem 3rem 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 2rem;
  justify-content: center;
  align-content: center;
}
.image-grid .image {
  width: 23rem;
  height: 23rem;
  position: relative;
}
.image-grid .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.image-grid .image p {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.7rem;
  color: white;
  font-size: medium;
  text-align: center;
  position: absolute;
  bottom: 0;
}

#arrow {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
#arrow i {
  color: black;
}

.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #31492f;
  color: #fff;
  font-size: 1em;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-size: medium;
  text-align: center;
  padding: 1rem 5rem 1rem 5rem;
}
.footer .footnav {
  display: flex;
  justify-content: space-around;
}
.footer .footnav .footnav1 {
  width: 25%;
  border-right: 1px solid white;
}
.footer .footnav #fnav4 {
  border: 0;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  font-size: larger;
  color: gray;
}
.footer .icons {
  padding: 1rem;
}
.footer .icons #icon2 {
  padding: 0 0.5rem 0 0.5rem;
}

#container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.recipe {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}
.recipe h1 {
  margin-bottom: 1rem;
  font-family: "Great Vibes", cursive;
  font-weight: bold;
}
.recipe h3 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  padding: 1rem;
}

.ingridients {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem 10rem 0 10rem;
  margin-bottom: 2rem;
}
.ingridients .image {
  width: 50%;
  flex-direction: column;
}
.ingridients .list {
  flex-direction: column;
}

#instructions {
  border: 3px solid rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
#instructions li {
  line-height: 1.8;
}

.instructions {
  margin-top: 2rem;
  width: 80%;
}

h4 {
  margin-bottom: 1rem;
}

#container {
  width: 90%;
  margin-left: 5%;
  display: flex;
}

.title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.title h1 {
  margin-bottom: 1rem;
  font-family: "Great Vibes", cursive;
  font-weight: bold;
}
.title h3 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  padding: 1rem;
  line-height: 1.8;
}

.content {
  width: 80%;
  margin-left: 10%;
}
.content h4 {
  border-bottom: 3px solid rgba(0, 0, 0, 0.6);
  margin-top: 2rem;
  font-size: larger;
}

.intro {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  border: 3px solid rgba(0, 0, 0, 0.6);
  padding: 1rem;
  width: 80%;
  margin-left: 10%;
}
.intro span {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
}

@media screen and (max-width: 480px) {
  .container .image-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
  .container .topnav ul {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container .image-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .container .topnav ul {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 481px) and (max-width: 1317px) {
  .ingridients {
    flex-direction: column;
    padding: 0;
  }
}/*# sourceMappingURL=index.css.map */