.recipe{
    padding: 3rem 10rem 0 10rem;
    text-align: center;
    width: 100%;
    h1{
        margin-bottom: 1rem;
    }
    h3{
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        width: 100%;
        padding: 1rem;
    }
}
.ingridients{
    display: flex;
    padding: 3rem 10rem 0 10rem;
    

    #recipeimg{
      width: 50%;  
    flex-direction: column;
       
    }
    .list{
    flex-direction: column;
    margin-right: 2rem;
    }

    }
.instrucions{
    
    padding: 3rem 10rem 3rem 10rem;
}
